.Atribuition {
    display: flex;
    margin: 0 2%;
    margin-bottom: 1%;
    margin-top: 5px;
    border-bottom: solid 0.5px rgb(135, 135, 133);
}

.Atribuition-Img {
    display: flex;
    align-items: start;
    justify-content: center;
    flex: 10%;
}

.Atribuition-Img img {
    height: 3rem;
}

.Atribuition-Text {
    display: flex;
    flex: 80%;
    flex-direction: column;
}

.Atribuition-Text h3 {
    margin: 0;
}

.Atribuition-Text p {
    margin: 0;
    margin-top: 4px;
}

.Atribuition-Text img{
    margin-top: 3px;
    margin-bottom: 3px;
    height: 4.1rem;
}

.Atribuition-Certificate {
    align-items: center;
    display: flex;
}

.Atribuition-Certificate p {
    margin-left: 2%;
}

.Atribuition-Certificate a {
    color: white;
    text-decoration: none;
    font-style: none;
    margin-left: 2%;
}

.Atribuition-Certificate a:hover {
    color: rgb(16, 33, 156);
}