.Atribuitions {
    margin-top: 2%;
}

.Atribuitions h2 {
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 5%;
}

.Licenses {
    margin-top: 5%;
}

.Licenses .Atribuition {
    margin-bottom: 3%;
}

.Atribuitions .Atribuition {
    margin-bottom: 3%;
}