.Atribuitions {
    margin-top: 5%;
}

.Atribuitions h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 5%;
}

.Licenses {
    margin-top: 5%;
}

.Licenses .Atribuition {
    margin-bottom: 3%;
}

.Atribuitions .Atribuition {
    margin-bottom: 3%;
}

.ShowMore {
    background: linear-gradient(180deg, #168316, #093809);
    border: none;
    border-radius: 15px;
    height: 2.2rem;
    width: 7rem;
    /* Definindo uma largura fixa */
    padding: 0.5rem 1.2rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.2rem;
    margin-bottom: 2%;
}

.ShowMore {
    color: white;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
}

.ShowMore:hover {
    background: linear-gradient(180deg, #0c4b0c, #054b05);
    cursor: pointer;
    transform: scale(1.05);
}