.Btn-Blue {
    background: linear-gradient(180deg, #1036db, #0a3e46);
    border: none;
    border-radius: 15px;
    height: 2.3rem;
    width: 6.2rem;
    /* Definindo uma largura fixa */
    padding: 0.4rem 1.2rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.2rem;
}

.Btn-Blue a {
    padding: 0.2rem 1.1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
}

.Btn-Blue:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #0a3e46, #1036db);
    transform: scale(1.05);
}